# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# TF vars (secrets)
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# Crash logs
crash.log
crash.*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
